<div class="countdown message info">
    <?php if (!empty($block->buildString())) {
        echo $block->buildString();
    }; ?>
</div>
<script>
function startTimer(duration, display) {
	var timer = duration;

    setInterval(function () {
		time = new Date(timer * 1000).toISOString().substr(11, 8);

        display.textContent = time;

        if (--timer < 0) {
            display.textContent = '00:00:00';
		}
	}, 1000);
}

window.onload = function () {
    var time = <?php echo $block->getTimeRemainingSeconds(); ?>;

    display = document.querySelector('#time');

    if(display) {
        startTimer(time, display);
    }
};
</script>
